.header {
    background-color: #000000;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    display: flex;
    gap: 40px;
}

.header nav ul li a{
    color: white;
    font-size: 18px;
    line-height: 32px;
}


@media (max-width: 800px) {
    .header nav {
       
        display: block;
    }

    .header nav ul {
        flex-wrap: wrap;
        
    }

    .header nav ul li a {
        padding: 12px 16px;
        background-color: #111111;
        border-radius: 4px;
    }

    img {
        margin-bottom: 16px;
    }
}