.heroSection {
    background-color: black;
    box-shadow: inset 0 -120px #fff;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.hero h1 span {
    color: #FFBF01;
}

.hero p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #9E9E9E;
    margin-bottom: 20px;
    
}

.textContent {
    margin-bottom: 120px;
}



@media (max-width: 800px) {

    .heroSection {
        background-color: #111111;
        box-shadow: inset 0 -60px #fff;
        padding-top: 40px;
    }
    .hero {
        grid-template-columns: 1fr;
        
    }

    .hero h1 {
        margin-bottom: 16px;
    }

    .textContent {
        margin-bottom: 0px;
    }

    .hero img {
        height: 300px;
        width: 100%;
    }
}

@media (max-width: 600px) {

    .hero h1 {
        font-size: 40px;
        line-height: 50px;
        
    }

    .hero p {
        font-size: 16px;
        line-height: 24px;
        
    }
}