.input {
    margin-bottom: 12px;
    padding: 8px 20px;
    background: #EDEDED;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    width: 280px;
    position: relative;
}

.input::placeholder {
    color: #707070;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 8px;
}